@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

section #catalog {
  padding-bottom: 100px;
}
#catalog h1 {
  text-align: center;
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#listing {
  padding: 2rem 3rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#listing li {
  box-shadow: #000 0 0 10px;
  display: inline-block;
  padding: 0.35rem;
  border-radius: 12px;
  margin: 15px;
}

#listing li h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

#listing li h5 {
  font-size: 24px;
  font-weight: 400;
}

#listing li .thumbnail {
  border-radius: 12px 12px 0px 0px;
  width: 400px;
}

#listing li .info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
